.footer{
    display: flex;
    margin: 10px auto;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    border-top: 1px solid #797979;
    padding: 15px 0;
}

.footer ul li{
    display: inline-block;
    list-style: none;
    margin-left: 20px;
}

/* --------media query-------- */

@media (max-width: 600px){
    .footer{
        display: block;
        text-align: center;
    }

    .footer ul{
        margin-top: 10px;
    }

    .footer ul li{
        margin: 10px;
    }
}